# Create Gold Standard Wikidata National Parks

In [1]:
import pandas as pd
import numpy as np
import xml.etree.ElementTree as ET
from wd_species import *
import pprint
import random
from sklearn.utils.extmath import cartesian
from similarity.jarowinkler import JaroWinkler

In [2]:

def createDFfromXML_list(path):

    # create list of all columns from target schema
    path_target = '../xml/Final_schema_XML.xml'
    tree_target = ET.parse(path_target)
    root_target = tree_target.getroot()
    rows_target = []
    columns = []
    for species_target in root_target.iter('Species'):
        for attr_target in species_target:
            if attr_target not in columns:
                columns.append(attr_target.tag)


    # read in xml and create df
    tree = ET.parse(path)
    root = tree.getroot()
    rows = []
    for species in root.iter('Species'):

        col_dict = {}
        for col in columns:

            for attr in species.iter(col):
                if col in ['ID', 'Provenance', 'Scientific_Name']:
                    col_dict[col] = attr.text

                else:
                    temp_list = []
                    for child in attr:
                        temp_list.append(child.text)

                    if len(temp_list) == 0:
                        pass
                    elif len(temp_list) == 1:
                        col_dict[col] = temp_list[0]
                    else:
                        col_dict[col] = temp_list


        rows.append(col_dict)

    df = pd.DataFrame(rows, columns=columns)        
    return df

In [3]:

def createDFfromXML(path):

    # create list of all columns from target schema
    path_target = '../xml/Final_schema_XML.xml'
    tree_target = ET.parse(path_target)
    root_target = tree_target.getroot()
    rows_target = []
    columns = []
    for species_target in root_target.iter('Species'):
        for attr_target in species_target:
            if attr_target not in columns:
                columns.append(attr_target.tag)

    
    # To be deleted afterwards!
    columns.append('Category')
    
    
    # read in xml and create df
    tree = ET.parse(path)
    root = tree.getroot()
    rows = []
    for species in root.iter('Species'):

        col_dict = {}
        for col in columns:

            for attr in species.iter(col):
                if col in ['ID', 'Provenance', 'Scientific_Name', 'Category']:
                    col_dict[col] = attr.text

                else:
                    temp_list = []
                    for child in attr:
                        temp_list.append(child.text)

                    if len(temp_list) == 0:
                        pass
                    elif len(temp_list) == 1:
                        col_dict[col] = temp_list[0]
                    else:
                        col_dict[col] = temp_list


        rows.append(col_dict)

    df = pd.DataFrame(rows, columns=columns)        
    return df

In [4]:
dataset_dict = {}
dataset_dict['wd'] = {}   #WikiData
dataset_dict['es'] = {}   #EndangeroudSpecies
dataset_dict['np'] = {}   #NationalParks

dataset_dict['wd']['path'] = getPathXML()   #WikiData
dataset_dict['es']['path'] = '../xml/endangered_species.xml'   #EndangeroudSpecies
dataset_dict['np']['path'] = '../xml/biodiversity.xml'   #NationalParks


for dataset in dataset_dict.keys():
    # read in xmls
    print(dataset)
    
    if dataset == 'wd':
        dataset_dict[dataset]['df'] = createDFfromXML(dataset_dict[dataset]['path'])
    
    else:
        dataset_dict[dataset]['df'] = createDFfromXML_list(dataset_dict[dataset]['path'])
        
    
    
    
    
#dataset_dict

wd
es
np

In [5]:
# to be deleted afterwards

## change labels due to changes in target schema

# change scientific name label
'''display(dataset_dict['es']['df'].head(2))
display(dataset_dict['np']['df'].head(2))

dataset_dict['es']['df']['Scientific_Names'] = dataset_dict['es']['df']['Scientific_Name']
dataset_dict['es']['df'] = dataset_dict['es']['df'].drop(columns = 'Scientific_Name')

display(dataset_dict['es']['df'].head(2))'''

# change category name label
display(dataset_dict['es']['df'].head(2))
display(dataset_dict['np']['df'].head(2))
display(dataset_dict['wd']['df'].head(2))

dataset_dict['wd']['df']['Categories'] = dataset_dict['wd']['df']['Category']
dataset_dict['wd']['df'] = dataset_dict['wd']['df'].drop(columns = 'Category')

display(dataset_dict['wd']['df'].head(2))

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States
0,ES570,FWSEndangeredSpecies,Abronia macrocarpa,Large-fruited sand-verbena,NaN,NaN,NaN,NaN,2,Southwest,NaN,Flowering Plants,NaN,NaN,NaN
1,ES458,FWSEndangeredSpecies,Abutilon eremitopetalum,No common name,NaN,NaN,NaN,NaN,1,Pacific,NaN,Flowering Plants,NaN,NaN,NaN

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States
0,BIO00000,BiodiversityUSNationalParks,Aaptolasma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Crab/Lobster/Shrimp,Sessilia,Bathylasmatidae,OH
1,BIO00001,BiodiversityUSNationalParks,Abacidus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Insect,Coleoptera,Carabidae,CO

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States,Category
0,http://www.wikidata.org/entity/q140,wikidata,panthera leo,"[lion, african lion]",NaN,NaN,NaN,NaN,NaN,NaN,vulnerable,NaN,carnivora,felidae,NaN,Mammal
1,http://www.wikidata.org/entity/q500,wikidata,citrus ×limon,citrus ×limon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sapindales,rutaceae,NaN,NaN

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States
0,http://www.wikidata.org/entity/q140,wikidata,panthera leo,"[lion, african lion]",NaN,NaN,NaN,NaN,NaN,NaN,vulnerable,Mammal,carnivora,felidae,NaN
1,http://www.wikidata.org/entity/q500,wikidata,citrus ×limon,citrus ×limon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sapindales,rutaceae,NaN

### Search for categories

In [6]:
# retrieve categories
for dataset in dataset_dict.keys():
    categories = dataset_dict[dataset]['df'].Categories
    # circumvent break because of lists in wd
    categories = categories.apply(lambda x: str(x)) 
    dataset_dict[dataset]['categories'] = categories.unique()

In [7]:
# exploration
for dataset in dataset_dict.keys():
    print(dataset)
    print(dataset_dict[dataset]['df'].info(), '\n\n')

wd
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                100000 non-null  object
 1   Provenance        100000 non-null  object
 2   Scientific_Name   99999 non-null   object
 3   Common_Names      100000 non-null  object
 4   Labels            0 non-null       float64
 5   Where_Listed_l    0 non-null       float64
 6   Different_From_l  346 non-null     object
 7   Endemic_To_l      3960 non-null    object
 8   Regions           0 non-null       float64
 9   Region_Names      0 non-null       float64
 10  Listing_Statuses  26637 non-null   object
 11  Categories        90563 non-null   object
 12  Orders            99403 non-null   object
 13  Families          99738 non-null   object
 14  States            0 non-null       float64
dtypes: float64(5), object(10)
memory usage: 11.4+ MB
None


es
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1575 entries, 0 to 1574
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1575 non-null   object
 1   Provenance        1575 non-null   object
 2   Scientific_Name   1575 non-null   object
 3   Common_Names      1575 non-null   object
 4   Labels            0 non-null      float64
 5   Where_Listed_l    0 non-null      float64
 6   Different_From_l  0 non-null      float64
 7   Endemic_To_l      0 non-null      float64
 8   Regions           1575 non-null   object
 9   Region_Names      1575 non-null   object
 10  Listing_Statuses  0 non-null      float64
 11  Categories        1575 non-null   object
 12  Orders            0 non-null      float64
 13  Families          0 non-null      float64
 14  States            0 non-null      float64
dtypes: float64(8), object(7)
memory usage: 184.7+ KB
None


np
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46047 entries, 0 to 46046
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                46047 non-null  object
 1   Provenance        46047 non-null  object
 2   Scientific_Name   46047 non-null  object
 3   Common_Names      26554 non-null  object
 4   Labels            0 non-null      float64
 5   Where_Listed_l    0 non-null      float64
 6   Different_From_l  0 non-null      float64
 7   Endemic_To_l      0 non-null      float64
 8   Regions           0 non-null      float64
 9   Region_Names      0 non-null      float64
 10  Listing_Statuses  1148 non-null   object
 11  Categories        46047 non-null  object
 12  Orders            44781 non-null  object
 13  Families          44775 non-null  object
 14  States            46047 non-null  object
dtypes: float64(6), object(9)
memory usage: 5.3+ MB
None

In [8]:

# create blank of mapping dict
for dataset in dataset_dict.keys():
    dataset_dict[dataset]['mapping'] = {}
    for categ in dataset_dict[dataset]['categories']:
        dataset_dict[dataset]['mapping'][categ] = ''
    
    #if dataset != 'wd':
    print(dataset)
    pprint.pprint(dataset_dict[dataset]['mapping'])

wd
{'Algae': '',
 'Algae, Fungi': '',
 'Amphibian': '',
 'Bird': '',
 'Crab/Lobster/Shrimp': '',
 'Fish': '',
 'Fungi': '',
 'Insect': '',
 'Invertebrate': '',
 'Invertebrate, Slug/Snail': '',
 'Mammal': '',
 'Nonvascular Plant': '',
 'Other': '',
 'Reptile': '',
 'Slug/Snail': '',
 'Spider/Scorpion': '',
 'Vascular Plant': '',
 'nan': ''}
es
{'Amphibians': '',
 'Arachnids': '',
 'Birds': '',
 'Clams': '',
 'Conifers and Cycads': '',
 'Crustaceans': '',
 'Ferns and Allies': '',
 'Fishes': '',
 'Flowering Plants': '',
 'Insects': '',
 'Lichens': '',
 'Mammals': '',
 'Reptiles': '',
 'Snails': ''}
np
{'Algae': '',
 'Amphibian': '',
 'Bird': '',
 'Crab/Lobster/Shrimp': '',
 'Fish': '',
 'Fungi': '',
 'Insect': '',
 'Invertebrate': '',
 'Mammal': '',
 'Nonvascular Plant': '',
 'Reptile': '',
 'Slug/Snail': '',
 'Spider/Scorpion': '',
 'Vascular Plant': ''}

In [9]:
dataset_dict['es']['mapping'] = {
     'Amphibians': 8,
     'Arachnids': 7,
     'Birds': 2,
     'Clams': 6,   #?
     'Conifers and Cycads': 11,
     'Crustaceans': 9,
     'Ferns and Allies': 11,
     'Fishes': 4,
     'Flowering Plants': 11,
     'Insects': 3,
     'Lichens': 10,  #?
     'Mammals': 1,
     'Reptiles': 5,
     'Snails': 6}



dataset_dict['np']['mapping'] = {
     'Algae': 11,
     'Amphibian': 8,
     'Bird': 2,
     'Crab/Lobster/Shrimp': 9,
     'Fish': 4,
     'Fungi': 10, #?
     'Insect': 3,
     'Invertebrate': 6,
     'Mammal': 1,
     'Nonvascular Plant': 11,
     'Reptile': 5,
     'Slug/Snail': 6,
     'Spider/Scorpion': 7,
     'Vascular Plant': 11}

### Assign mappings

In [10]:
for dataset in dataset_dict.keys():
    if dataset != 'wd':
        dataset_dict[dataset]['df']['mapping'] = dataset_dict[dataset]['df']['Categories'].apply(lambda x: dataset_dict[dataset]['mapping'][x])

In [11]:

mapping_lidentifiers = np.sort(dataset_dict['np']['df']['mapping'].unique())
mapping_lidentifiers

for dataset in dataset_dict.keys():
    if dataset != 'wd':
        dataset_dict[dataset]['df_perCat'] = []
        
        for mapping_nr in mapping_lidentifiers:
            df_perCat = dataset_dict[dataset]['df'][dataset_dict[dataset]['df']['mapping'] == mapping_nr]
            dataset_dict[dataset]['df_perCat'].append(df_perCat)

In [12]:
# visual check of datasets
for dataset in dataset_dict.keys():
    if dataset != 'wd':
        
        for df in dataset_dict[dataset]['df_perCat']:
            display(df.head(2))
            
        break

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States,mapping
60,ES1004,FWSEndangeredSpecies,Antilocapra americana sonoriensis,Sonoran pronghorn,NaN,NaN,NaN,NaN,2,Southwest,NaN,Mammals,NaN,NaN,NaN,1
65,ES974,FWSEndangeredSpecies,Aplodontia rufa nigra,Point Arena mountain beaver,NaN,NaN,NaN,NaN,8,Pacific Southwest,NaN,Mammals,NaN,NaN,NaN,1

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States,mapping
7,ES1512,FWSEndangeredSpecies,Accipiter striatus venator,Puerto Rican sharp-shinned hawk,NaN,NaN,NaN,NaN,4,Southeast,NaN,Birds,NaN,NaN,NaN,2
15,ES1589,FWSEndangeredSpecies,Acrocephalus familiaris kingi,Nihoa millerbird (old world warbler),NaN,NaN,NaN,NaN,1,Pacific,NaN,Birds,NaN,NaN,NaN,2

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States,mapping
39,ES1120,FWSEndangeredSpecies,Ambrysus amargosus,Ash Meadows naucorid,NaN,NaN,NaN,NaN,8,Pacific Southwest,NaN,Insects,NaN,NaN,NaN,3
53,ES999,FWSEndangeredSpecies,Anaea troglodyta floridalis,Florida leafwing Butterfly,NaN,NaN,NaN,NaN,4,Southeast,NaN,Insects,NaN,NaN,NaN,3

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States,mapping
11,ES1109,FWSEndangeredSpecies,Acipenser oxyrinchus (=oxyrhynchus) desotoi,Gulf sturgeon,NaN,NaN,NaN,NaN,4,Southeast,NaN,Fishes,NaN,NaN,NaN,4
12,ES1476,FWSEndangeredSpecies,Acipenser transmontanus,White sturgeon,NaN,NaN,NaN,NaN,1,Pacific,NaN,Fishes,NaN,NaN,NaN,4

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States,mapping
45,ES1371,FWSEndangeredSpecies,Ameiva polops,St. Croix ground lizard,NaN,NaN,NaN,NaN,4,Southeast,NaN,Reptiles,NaN,NaN,NaN,5
59,ES1036,FWSEndangeredSpecies,Anolis roosevelti,Culebra Island giant anole,NaN,NaN,NaN,NaN,4,Southeast,NaN,Reptiles,NaN,NaN,NaN,5

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States,mapping
8,ES1017,FWSEndangeredSpecies,Achatinella spp.,Oahu tree snails,NaN,NaN,NaN,NaN,1,Pacific,NaN,Snails,NaN,NaN,NaN,6
26,ES1021,FWSEndangeredSpecies,Alasmidonta atropurpurea,Cumberland elktoe,NaN,NaN,NaN,NaN,4,Southeast,NaN,Clams,NaN,NaN,NaN,6

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States,mapping
17,ES1323,FWSEndangeredSpecies,Adelocosa anops,Kauai cave wolf or pe'e pe'e maka 'ole spider,NaN,NaN,NaN,NaN,1,Pacific,NaN,Arachnids,NaN,NaN,NaN,7
253,ES1522,FWSEndangeredSpecies,Cicurina baronia,Robber Baron Cave Meshweaver,NaN,NaN,NaN,NaN,2,Southwest,NaN,Arachnids,NaN,NaN,NaN,7

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States,mapping
40,ES1552,FWSEndangeredSpecies,Ambystoma bishopi,Reticulated flatwoods salamander,NaN,NaN,NaN,NaN,4,Southeast,NaN,Amphibians,NaN,NaN,NaN,8
41,ES1015,FWSEndangeredSpecies,Ambystoma californiense,California tiger Salamander,NaN,NaN,NaN,NaN,0,Pacific Southwest,NaN,Amphibians,NaN,NaN,NaN,8

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States,mapping
62,ES1199,FWSEndangeredSpecies,Antrolana lira,Madison Cave isopod,NaN,NaN,NaN,NaN,5,Northeast,NaN,Crustaceans,NaN,NaN,NaN,9
155,ES1623,FWSEndangeredSpecies,Branchinecta conservatio,Conservancy fairy shrimp,NaN,NaN,NaN,NaN,8,Pacific Southwest,NaN,Crustaceans,NaN,NaN,NaN,9

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States,mapping
263,ES815,FWSEndangeredSpecies,Cladonia perforata,Florida perforate cladonia,NaN,NaN,NaN,NaN,4,Southeast,NaN,Lichens,NaN,NaN,NaN,10
695,ES277,FWSEndangeredSpecies,Gymnoderma lineare,Rock gnome lichen,NaN,NaN,NaN,NaN,4,Southeast,NaN,Lichens,NaN,NaN,NaN,10

,ID,Provenance,Scientific_Name,Common_Names,Labels,Where_Listed_l,Different_From_l,Endemic_To_l,Regions,Region_Names,Listing_Statuses,Categories,Orders,Families,States,mapping
0,ES570,FWSEndangeredSpecies,Abronia macrocarpa,Large-fruited sand-verbena,NaN,NaN,NaN,NaN,2,Southwest,NaN,Flowering Plants,NaN,NaN,NaN,11
1,ES458,FWSEndangeredSpecies,Abutilon eremitopetalum,No common name,NaN,NaN,NaN,NaN,1,Pacific,NaN,Flowering Plants,NaN,NaN,NaN,11

In [15]:
scientificNameColumnLabel = 'Scientific_Name'

def getScientificNameFromID(dataframe, id_species):
    
    try:
        row       = dataframe[dataframe['ID'] == id_species]
        index     = row.index[0]
        value     = row.at[index, scientificNameColumnLabel]

        # handle nan values
        if type(value) != str:
            value = ''
    except:
        value = ''
    
    return value

### Create template for gold standard for NP (biodiversity) and endangered species

In [ ]:
%%time
ds1 = 'np'
ds2 = 'es'

jarowinkler = JaroWinkler()

columns_scoreDF = ['id1', 'id2', 'match', 'jarowinkler', 'potentiallyTrue']
final_df=pd.DataFrame(columns=columns_scoreDF)

comparisons_per_df = []

full_id2_list = np.array(dataset_dict[ds2]['df']['ID'])


for mapping_nr in mapping_lidentifiers:

    matches = []
    
    # assignments
    dataframe1 = dataset_dict[ds1]['df_perCat'][mapping_nr-1].copy()
    dataframe2 = dataset_dict[ds2]['df_perCat'][mapping_nr-1].copy()
    
    id_ds1 = np.array(dataframe1['ID'])
    id_ds2 = np.array(dataframe2['ID']) # delete
     
    print(mapping_nr, len(id_ds1), len(id_ds2))
    
    for current_id in id_ds1:
        
        
        sciName_of_current_id = getScientificNameFromID(dataframe1, current_id)
        dataframe2[scientificNameColumnLabel+'_short'] = dataframe2[scientificNameColumnLabel].apply(lambda x: x[0:3].lower())
        possible_matches_df = dataframe2[dataframe2[scientificNameColumnLabel+'_short'] == sciName_of_current_id[0:3].lower()]
        id_ds2 = list(possible_matches_df['ID'])
        matches.append(len(id_ds2))
    
        if len(id_ds2) > 0:
            
            temp_df = pd.DataFrame(columns = columns_scoreDF)
            
            # create cartesian product for this category
            cart_array = cartesian(([current_id], id_ds2))

            # calulate jaro winkler
            jarowinkl_result = [jarowinkler.similarity(sciName_of_current_id, getScientificNameFromID(dataframe2, x[1])) for x in cart_array]
            jarowinkl_result = np.array(jarowinkl_result)

            temp_df['id1']             = cart_array[:,0]
            temp_df['id2']             = cart_array[:,1]
            temp_df['match']           = ''
            temp_df['jarowinkler']     = jarowinkl_result
            temp_df['potentiallyTrue'] = True

            # find combination with highest score for each id from id_list 1
        
            current_df = temp_df[temp_df.id1 == current_id]
            entry = current_df[current_df.jarowinkler == np.max(current_df.jarowinkler)]
            final_df   = pd.concat([final_df, entry])
        
        #for all ather cases
        
        else: 
            data = {
                'id1':           current_id, 
                'id2':           full_id2_list[random.randint(0, len(full_id2_list)-1)], 
                'match':         '',
                'jarowinkler':   0,
                'potentiallyTrue': False
            }
            entry = pd.DataFrame(data, columns=columns_scoreDF, index=[0])
        
        final_df   = pd.concat([final_df, entry])
        
    comparisons_per_df.append(sum(matches))
    final_df.to_csv('../Data/goldstandard/intermediates/goldstandardTemplate.csv')


print('total comparisons: ', sum(comparisons_per_df))

In [ ]:
display(final_df.shape)
final_df.head(3)

In [ ]:
# join both datasets to final df
leftjoinedDF             = pd.merge(left=final_df,     right=dataset_dict[ds1]['df'], how='left', left_on='id1', right_on='ID')
match_table_goldstandard = pd.merge(left=leftjoinedDF, right=dataset_dict[ds2]['df'], how='left', left_on='id2', right_on='ID')
match_table_goldstandard.to_csv(  '../Data/goldstandard/intermediates/match_table_goldstandard_BIO_ES.csv',  index=False)
match_table_goldstandard.to_excel('../Data/goldstandard/intermediates/match_table_goldstandard_BIO_ES.xlsx', index=False)
match_table_goldstandard

### Create template for gold standard for NP (biodiversity) and WD

In [92]:
%%time
ds1 = 'np'
ds2 = 'wd'

jarowinkler = JaroWinkler()

columns_scoreDF = ['id1', 'id2', 'match', 'jarowinkler', 'potentiallyTrue']
final_df=pd.DataFrame(columns=columns_scoreDF)

comparisons_per_df = []

full_id2_list = np.array(dataset_dict[ds2]['df']['ID'])


matches = []
lenght_of_string_to_match = 3
count = 0

def createShortForms(elem):
    try:
        returnvalue = elem[0:lenght_of_string_to_match].lower()
    except:
        returnvalue = ''
        
    return returnvalue

# assignments
dataframe1 = dataset_dict[ds1]['df'].copy()
dataframe2 = dataset_dict[ds2]['df'].copy()

id_ds1 = np.array(dataframe1['ID'])
id_ds2 = np.array(dataframe2['ID']) # delete

print(len(id_ds1), len(id_ds2))

skip_modulo      =    56
retrieved_values = 100000 / skip_modulo
progress_print   = retrieved_values * 0.1

for current_id_index in range(len(id_ds1)):
    
    # skip every .... entry to reduce computing
    if current_id_index % skip_modulo == 0:
        
        
        current_id = id_ds1[current_id_index]
        

        count += 1
        

        sciName_of_current_id = getScientificNameFromID(dataframe1, current_id)
        dataframe2[scientificNameColumnLabel+'_short'] = dataframe2[scientificNameColumnLabel].apply(lambda x: createShortForms(x))
        possible_matches_df = dataframe2[dataframe2[scientificNameColumnLabel+'_short'] == sciName_of_current_id[0:lenght_of_string_to_match].lower()]
        id_ds2 = list(possible_matches_df['ID'])
        matches.append(len(id_ds2))
        
        

        if len(id_ds2) > 0:

            
            temp_df = pd.DataFrame(columns = columns_scoreDF)
            
            
            cart_array = np.zeros((len(id_ds2), 2), dtype = object)
            for id2_index in range(len(id_ds2)):
                cart_array[id2_index] = [str(current_id), str(id_ds2[id2_index])]
                


            # calulate jaro winkler
            jarowinkl_result = [jarowinkler.similarity(sciName_of_current_id, getScientificNameFromID(dataframe2, x[1])) for x in cart_array]
            jarowinkl_result = np.array(jarowinkl_result)

            temp_df['id1']             = cart_array[:,0]
            temp_df['id2']             = cart_array[:,1]
            temp_df['match']           = ''
            temp_df['jarowinkler']     = jarowinkl_result
            temp_df['potentiallyTrue'] = True

            # find combination with highest score for each id from id_list 1

            current_df = temp_df[temp_df.id1 == current_id]
            entry = current_df[current_df.jarowinkler == np.max(current_df.jarowinkler)]
            final_df   = pd.concat([final_df, entry])

        #for all ather cases

        else: 
            data = {
                'id1':           current_id, 
                'id2':           full_id2_list[random.randint(0, len(full_id2_list)-1)], 
                'match':         '',
                'jarowinkler':   0,
                'potentiallyTrue': False
            }
            entry = pd.DataFrame(data, columns=columns_scoreDF, index=[0])

        final_df   = pd.concat([final_df, entry])

        comparisons_per_df.append(sum(matches))
        
        if current_id_index%progress_print == 0:
            print(count)
        #if count%progress_print == 0:
            final_df.to_csv('../Data/goldstandard/intermediates/goldstandardTemplate_BIO_WD.csv')


print('total comparisons: ', sum(comparisons_per_df))


final_df

46047 100000
1
total comparisons:  78700751
CPU times: user 23min 43s, sys: 25.3 s, total: 24min 8s
Wall time: 30min 13s

,id1,id2,match,jarowinkler,potentiallyTrue
2,BIO00000,http://www.wikidata.org/entity/q2094240,,0.652778,True
2,BIO00000,http://www.wikidata.org/entity/q2094240,,0.652778,True
7,BIO00056,http://www.wikidata.org/entity/q308783,,0.694444,True
7,BIO00056,http://www.wikidata.org/entity/q308783,,0.694444,True
178,BIO00112,http://www.wikidata.org/entity/q1621617,,0.732858,True
...,...,...,...,...,...
3,BIO45920,http://www.wikidata.org/entity/q1766564,,0.716035,True
6,BIO45976,http://www.wikidata.org/entity/q1566282,,0.760317,True
6,BIO45976,http://www.wikidata.org/entity/q1566282,,0.760317,True
25,BIO46032,http://www.wikidata.org/entity/q1770113,,0.714286,True
25,BIO46032,http://www.wikidata.org/entity/q1770113,,0.714286,True

In [93]:
# join both datasets to final df
leftjoinedDF             = pd.merge(left=final_df,     right=dataset_dict[ds1]['df'], how='left', left_on='id1', right_on='ID')
match_table_goldstandard = pd.merge(left=leftjoinedDF, right=dataset_dict[ds2]['df'], how='left', left_on='id2', right_on='ID')
match_table_goldstandard.to_csv(  '../Data/goldstandard/intermediates/match_table_goldstandard_BIO_WD.csv',  index=False)
match_table_goldstandard.to_excel('../Data/goldstandard/intermediates/match_table_goldstandard_BIO_WD.xlsx', index=False)
match_table_goldstandard

,id1,id2,match,jarowinkler,potentiallyTrue,ID_x,Provenance_x,Scientific_Name_x,Common_Names_x,Labels_x,...,Where_Listed_l_y,Different_From_l_y,Endemic_To_l_y,Regions_y,Region_Names_y,Listing_Statuses_y,Categories_y,Orders_y,Families_y,States_y
0,BIO00000,http://www.wikidata.org/entity/q2094240,,0.652778,True,BIO00000,BiodiversityUSNationalParks,Aaptolasma,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Invertebrate,"[hadromerida, suberitida]",suberitidae,NaN
1,BIO00000,http://www.wikidata.org/entity/q2094240,,0.652778,True,BIO00000,BiodiversityUSNationalParks,Aaptolasma,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Invertebrate,"[hadromerida, suberitida]",suberitidae,NaN
2,BIO00056,http://www.wikidata.org/entity/q308783,,0.694444,True,BIO00056,BiodiversityUSNationalParks,Abronia carletonii,"[Carlton's Sand Verbena, Carleton Sand Verbena]",NaN,...,NaN,NaN,chile,NaN,NaN,near threatened,Mammal,rodentia,cricetidae,NaN
3,BIO00056,http://www.wikidata.org/entity/q308783,,0.694444,True,BIO00056,BiodiversityUSNationalParks,Abronia carletonii,"[Carlton's Sand Verbena, Carleton Sand Verbena]",NaN,...,NaN,NaN,chile,NaN,NaN,near threatened,Mammal,rodentia,cricetidae,NaN
4,BIO00112,http://www.wikidata.org/entity/q1621617,,0.732858,True,BIO00112,BiodiversityUSNationalParks,Acacia millefolia,Milfoil Wattle,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fabales,fabaceae,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1702,BIO45920,http://www.wikidata.org/entity/q1766564,,0.716035,True,BIO45920,BiodiversityUSNationalParks,Zaprora silenus,Prowfish,NaN,...,NaN,NaN,NaN,NaN,NaN,least concern,Mammal,rodentia,dipodidae,NaN
1703,BIO45976,http://www.wikidata.org/entity/q1566282,,0.760317,True,BIO45976,BiodiversityUSNationalParks,Zinnia elegans,Zinnia,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,asterales,asteraceae,NaN
1704,BIO45976,http://www.wikidata.org/entity/q1566282,,0.760317,True,BIO45976,BiodiversityUSNationalParks,Zinnia elegans,Zinnia,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,asterales,asteraceae,NaN
1705,BIO46032,http://www.wikidata.org/entity/q1770113,,0.714286,True,BIO46032,BiodiversityUSNationalParks,Zygodon,Zygodon Moss,NaN,...,NaN,NaN,NaN,NaN,NaN,least concern,Mammal,rodentia,cricetidae,NaN
1706,BIO46032,http://www.wikidata.org/entity/q1770113,,0.714286,True,BIO46032,BiodiversityUSNationalParks,Zygodon,Zygodon Moss,NaN,...,NaN,NaN,NaN,NaN,NaN,least concern,Mammal,rodentia,cricetidae,NaN