In [1]:
import pandas as pd
import os

In [3]:
path_to_data_dir = '../data'
# endangered species
df_es = pd.read_csv(os.path.join(path_to_data_dir, 'species-listings-by-tax-group-report_animals_and_plants.csv'))
# natural park species
df_sp = pd.read_csv(os.path.join(path_to_data_dir, 'species.csv'))
# wikidata mammals
df_wd = pd.read_csv(os.path.join(path_to_data_dir, 'wd_mammals.csv'))

/Users/robertbluemel/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_es

,Unnamed: 0,Scientific Name,Common Name,Where Listed,Region,ESA Listing Status,Group
0,0,Drosophila differens,Hawaiian picture-wing fly,Wherever found,1,Endangered,Insects
1,1,Ammodramus savannarum floridanus,Florida grasshopper sparrow,Wherever found,4,Endangered,Birds
2,2,Nerodia clarkii taeniata,Atlantic salt marsh snake,Wherever found,4,Threatened,Reptiles
3,3,Corvus leucognaphalus,White-necked crow,Wherever found,4,Endangered,Birds
4,4,Fusconaia cuneolus,Finerayed pigtoe,Wherever found; Except where listed as Experim...,4,Endangered,Clams
...,...,...,...,...,...,...,...
1653,933,Packera franciscana,San Francisco Peaks ragwort,Wherever found,2,Threatened,Flowering Plants
1654,934,Trillium persistens,Persistent trillium,Wherever found,4,Endangered,Flowering Plants
1655,935,Pritchardia aylmer-robinsonii,loulu,Wherever found,1,Endangered,Flowering Plants
1656,936,Festuca molokaiensis,No common name,Wherever found,1,Endangered,Flowering Plants
1657,937,Psychotria grandiflora,Kopiko,Wherever found,1,Endangered,Flowering Plants

In [5]:
df_sp

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
0,ACAD-1000,Acadia National Park,Mammal,Artiodactyla,Cervidae,Alces alces,Moose,Approved,Present,Native,Rare,Resident,NaN,NaN
1,ACAD-1001,Acadia National Park,Mammal,Artiodactyla,Cervidae,Odocoileus virginianus,"Northern White-Tailed Deer, Virginia Deer, Whi...",Approved,Present,Native,Abundant,NaN,NaN,NaN
2,ACAD-1002,Acadia National Park,Mammal,Carnivora,Canidae,Canis latrans,"Coyote, Eastern Coyote",Approved,Present,Not Native,Common,NaN,Species of Concern,NaN
3,ACAD-1003,Acadia National Park,Mammal,Carnivora,Canidae,Canis lupus,"Eastern Timber Wolf, Gray Wolf, Timber Wolf",Approved,Not Confirmed,Native,NaN,NaN,Endangered,NaN
4,ACAD-1004,Acadia National Park,Mammal,Carnivora,Canidae,Vulpes vulpes,"Black Fox, Cross Fox, Eastern Red Fox, Fox, Re...",Approved,Present,Unknown,Common,Breeder,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119243,ZION-2791,Zion National Park,Vascular Plant,Solanales,Solanaceae,Solanum triflorum,Cut-Leaf Nightshade,Approved,Present,Native,Uncommon,NaN,NaN,NaN
119244,ZION-2792,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis arizonica,Canyon Grape,Approved,Present,Native,Uncommon,NaN,NaN,NaN
119245,ZION-2793,Zion National Park,Vascular Plant,Vitales,Vitaceae,Vitis vinifera,Wine Grape,Approved,Present,Not Native,Uncommon,NaN,NaN,NaN
119246,ZION-2794,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Larrea tridentata,Creosote Bush,Approved,Present,Native,Rare,NaN,NaN,NaN
119247,ZION-2795,Zion National Park,Vascular Plant,Zygophyllales,Zygophyllaceae,Tribulus terrestris,Puncture Vine,Approved,Present,Not Native,Uncommon,NaN,NaN,NaN

In [6]:
df_wd

,resource,superClass,super2Class,super3Class,super4Class,parentTaxon,parent2Taxon,parent3Taxon,parent4Taxon,taxonName,...,super4ClassLabel,parentTaxonLabel,parent2TaxonLabel,parent3TaxonLabel,parent4TaxonLabel,taxonNameLabel,taxonCommonNameLabel,differentFromLabel,endemicToLabel,conservationStatusLabel
0,http://www.wikidata.org/entity/Q220213,http://www.wikidata.org/entity/Q7368,http://www.wikidata.org/entity/Q69301705,http://www.wikidata.org/entity/Q842175,http://www.wikidata.org/entity/Q105064135,NaN,NaN,NaN,NaN,NaN,...,Ungulata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://www.wikidata.org/entity/Q220213,http://www.wikidata.org/entity/Q7368,http://www.wikidata.org/entity/Q57814795,http://www.wikidata.org/entity/Q57812611,http://www.wikidata.org/entity/Q57812559,NaN,NaN,NaN,NaN,NaN,...,animal living in captivity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://www.wikidata.org/entity/Q220213,http://www.wikidata.org/entity/Q7368,http://www.wikidata.org/entity/Q57814795,http://www.wikidata.org/entity/Q57812611,http://www.wikidata.org/entity/Q7377,NaN,NaN,NaN,NaN,NaN,...,mammal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,http://www.wikidata.org/entity/Q220213,http://www.wikidata.org/entity/Q7368,http://www.wikidata.org/entity/Q57814795,http://www.wikidata.org/entity/Q622852,http://www.wikidata.org/entity/Q729,NaN,NaN,NaN,NaN,NaN,...,animal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://www.wikidata.org/entity/Q220213,http://www.wikidata.org/entity/Q7368,http://www.wikidata.org/entity/Q1797813,http://www.wikidata.org/entity/Q57812559,http://www.wikidata.org/entity/Q26401003,NaN,NaN,NaN,NaN,NaN,...,individual animal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13182,http://www.wikidata.org/entity/Q144,http://www.wikidata.org/entity/Q39201,http://www.wikidata.org/entity/Q622852,http://www.wikidata.org/entity/Q729,http://www.wikidata.org/entity/Q7239,NaN,NaN,NaN,NaN,NaN,...,organism,NaN,NaN,NaN,NaN,NaN,chyen,hammer,NaN,NaN
13183,http://www.wikidata.org/entity/Q144,http://www.wikidata.org/entity/Q39201,http://www.wikidata.org/entity/Q57812559,http://www.wikidata.org/entity/Q26401003,http://www.wikidata.org/entity/Q18336849,NaN,NaN,NaN,NaN,NaN,...,entity whose item has the given name property,NaN,NaN,NaN,NaN,NaN,Kutya,hammer,NaN,NaN
13184,http://www.wikidata.org/entity/Q144,http://www.wikidata.org/entity/Q39201,http://www.wikidata.org/entity/Q57812559,http://www.wikidata.org/entity/Q26401003,http://www.wikidata.org/entity/Q795052,NaN,NaN,NaN,NaN,NaN,...,individual,NaN,NaN,NaN,NaN,NaN,Kutya,hammer,NaN,NaN
13185,http://www.wikidata.org/entity/Q144,http://www.wikidata.org/entity/Q39201,http://www.wikidata.org/entity/Q57812559,http://www.wikidata.org/entity/Q26401003,http://www.wikidata.org/entity/Q729,NaN,NaN,NaN,NaN,NaN,...,animal,NaN,NaN,NaN,NaN,NaN,Kutya,hammer,NaN,NaN
13186,http://www.wikidata.org/entity/Q144,http://www.wikidata.org/entity/Q39201,http://www.wikidata.org/entity/Q26401003,http://www.wikidata.org/entity/Q18336849,http://www.wikidata.org/entity/Q106559804,NaN,NaN,NaN,NaN,NaN,...,person or organization,NaN,NaN,NaN,NaN,NaN,Kutya,hammer,NaN,NaN